
.social > a{
    padding-top: 8px;
}
.dark{
    background-color: #0a015b;
}
.visibility{
    visibility: visible;

}

#dark-mode {
    position: absolute;
    right: 40px;
}
.square-img {
    margin-left: auto;
    margin-right: auto;
}