.welcom {
    position: relative;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.welcome_sentence {
    position: relative;
    padding-top: 90px;
    font-size: 38px;
    color: white;
    font-family: Century Gothic, sans-serif;
    font-weight: bolder;
}

.welcome_sentence_description {
    font-size: 24px;
    color: white;
    font-family: Century Gothic, sans-serif;
    font-weight: lighter;
}

.searchbar {
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    width: 100%;
    max-width: 800px;
    height: 90px;
    border-radius: 25px;
    background-color: white;
    border: 0;
    display: inline-flex;
}

#searchbar_input {
    flex-grow: 1;
    padding: 20px;
    padding-left: 50px;
    outline: none;
    background-color: #faf4f9;
    border-radius: 25px 0 0 25px;
    transition: background 0.5s, box-shadow 0.25s;
    border: 0;
    font-size: 32px;
}

#searchbar_input:hover {
    background-color: white;
}

#searchbar_input::placeholder {
    padding-left: 20px;
    font-size: 32px;
    color: #4B94D1;
}

#searchbar_button {
    outline: none;
    border: none;
    width: 130px;
    color: white;
    background: #F66A00;
    border-radius: 0 25px 25px 0;
    cursor: pointer;
    user-select: none;
}
#searchbar_button_png {
    outline: none;
    border: none;
    padding: 0;
    border-radius: 0 25px 25px 0;
    cursor: pointer;
    user-select: none;
}
#searchbar_button:active {
    box-shadow: inset 0 0 30px rbga(0, 0, 0, 0.25);
}
#searchbar_icon {
    width: 20px;
}
#searchbar_icon_png {
    height: 90px;
}


.search_suggestion_bar {
    margin-top: 60px;
}
.search_suggestion {
    margin: 2px;
    display: inline-block;
    align-items: center;
    padding: 0px;
}
.search_suggestion_img {
    height: 25px;
}
.squares {
    padding: 0;
    text-align: center;
    margin-top: 100px;
}
.square {
    display: inline-block;
}
.square_link {
}

#squares_logo {
    color: #F66A00;
    background-color: white;
    font-weight: lighter;
}

#squares_movies {
    background-color: #F66A00;
}

#squares_clips {
    background-color: #FF9B39;
}

#squares_doc {
    background-color: #0A015B;
}
/*FOOTER*/

.social > a{
    padding-top: 8px;
}